<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="ConnStringLocal"
      providerName="System.Data.SqlClient"
      connectionString="Server=localhost;Database=deportivo_marca;Integrated
  Security=false; User=net; Password=net;"/>
    <add name="ConnStringMySql"
    providerName="MySql.Data.MySqlClient"
    connectionString="Server = localhost; Database = deportivo_marca; Uid = root; Pwd = root"/>
    <add name="ConnStringServerISI"
    providerName="System.Data.SqlClient"
    connectionString="Server=serverisi; Database=deportivo_marca; Integrated
Security=false; User=net; Password=net;"/>
  </connectionStrings>
</configuration>